<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ADService" connectionString="LDAP://mody.co.za" />
    <!--<add name="serverDB" connectionString="data source=Hal02;initial catalog=Implats_MasterGroup;integrated security=true" />-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};                           Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};                           Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="VBSConnectionString" connectionString="Data Source=Hal02;Initial Catalog=Implats_MasterGroup;Integrated Security=True" providerName="System.Data.SqlClient" />

    <!--<add name="serverDB" connectionString="data source=IPRSPT702;initial catalog=Implats_MasterGroup;User ID =ImplatsDev;Password=mody;integrated security=false" />-->

    <!--Dev-->
    <add name="serverDB" connectionString="data source=941Y063;initial catalog=Implats_MasterGroup;Integrated Security=True" providerName="System.Data.SqlClient" />



  </connectionStrings>

</configuration>